@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-SemiBold.ttf");
  src: url("./fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PoppinsItalic";
  src: url("./fonts/Poppins-SemiBoldItalic.ttf");
  src: url("./fonts/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PoppinsBold";
  src: url("./fonts/Poppins-Bold.ttf");
  src: url("./fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
